a.navbar-brand {
	margin-left: 7.5vw;
	color: #dd342f !important;
}
.navbar-expand-lg .navbar-nav-scroll {
	margin: 0px 41px 0px 44px;
}
.navbar-light .navbar-nav .nav-link {
	color: #dd342f;
}

.search-bar {
	margin-right: 3vw;
}

.navbar {
	padding: 3vh;

	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
